input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 16px;
  padding: 10px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #4CAF50; /* green */
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

form > * {
    margin-right: 20px;
    margin-bottom: 20px;
}

.form-field {
    margin-top: 20px;
}